@tailwind base;
@tailwind components;
@tailwind utilities;


[data-theme="dark"] body {
  background-color: rgb(51 65 85);
  color: #fff;
}

body {
  background: #EDEDED;
  color: #141515;
  font-family: var(--font-inter);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}